<article>
  <hgroup>Choose</hgroup>
  <section>
    <p>You can play alone<br />or with a friend</p>
    <ul>
      <a href="/play_robot" id="robot"><i class="fa fa-user fa-5x"></i></a>
      <a href="/play_human" id="human"><i class="fa fa-users fa-5x"></i></a>
    <ul>
  </section>
</article>