<hgroup>
  What's your name?
</hgroup>
<form action="/add_player" method="post">
  <input type="text" name="player" placeholder="What's your name?">
  <input type="submit" value="Start A Game">
</form>