<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <main>
    <header>
      <img src="logo.svg">
    </header>
    <%= yield %>
  </main>
  </body>
</html>    