  <hgroup>
    OK <span class="magenta"><%= @player %></span> you are <br />playing <span class="blue">Me</span>
  </hgroup>
  <ul>
  <% @hash.keys.each do |gesture| %>
    <li>
      <a href="/play_gesture?player=<%= @player %>&gesture=<%= gesture %>">
        <img src="/images/<%= gesture %>.svg" class="gesture-image">
      </a>
    </li>
  <% end %>
  </ul>
