  <hgroup>
    OK <%= @player[:name] %> are<br />you Ready?
  </hgroup>
  <ul>
  <% @hash.keys.each do |gesture| %>
    <li>
      <a href="/waiting?player=<%= @player[:name] %>&gesture=<%= gesture %>">
        <img src="/images/<%= gesture %>.svg" class="gesture-image">
      </a>
    </li>
  <% end %>
  </ul>