<% if @result != "Draw" %>
  <hgroup><%= @winner.first['player'] %> Wins!</hgroup>
  <section>
    <% img = @result.split(' ') %>
    <img src="/images/<%= img[0] %>.svg" class="gesture-image-win">
    <img src="/images/<%= img[2] %>.svg" class="gesture-image-lose">
  </section>

<% else %>
  <section class="draw">
    <p>That will be a</p>
  </section>
<% end %>

  <section>
    <p><%= @result %></p>
  </section>

  <article>
    <section>
      <ul>
        <a href="/replay" id="reset"><i class="fa fa-refresh fa-5x"></i></a>
        <a href="/" id="exit"><i class="fa fa-share fa-5x"></i></a>
      </ul>
    </section>
  </article>