<article>
  <hgroup>
    <h1>Choose</h1>
  </hgroup>
  <section>
  <p>You can play alone<br />or with a friend</p>
  <a href="/play/robot" id="robot"><i class="fa fa-user fa-5x"></i></a>
  <a href="/play/human" id="human"><i class="fa fa-users fa-5x"></i></a>
  </section>
</article>